* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  background-color: black;
  background-image: url(image.jpg);
  background-size: cover;
}

section {
  height: 1000px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  height: 35px;
  width: 85px;
  background: rgb(33, 26, 20);
  background: linear-gradient(
    90deg,
    rgba(33, 26, 20, 0.4380804953560371) 0%,
    rgba(12, 3, 23, 1) 28%,
    rgba(43, 34, 48, 1) 73%,
    rgba(8, 33, 38, 1) 100%
  );
  color: aqua;
  border-color: aqua;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}

#resume {
  display: none;
}

#pause {
  display: none;
}
#options2 {
  display: none;
}

.option_list {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  text-align: center;
  width: 60px;
  background: transparent;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

label {
  color: red;
}

#round {
  display: flex;
  justify-content: center;
  width: 140px;
  background: rgb(217, 207, 8);
  background: linear-gradient(
    90deg,
    rgba(217, 207, 8, 0.4380804953560371) 3%,
    rgba(252, 240, 4, 0.4380804953560371) 10%,
    rgba(207, 224, 39, 1) 28%,
    rgba(205, 226, 74, 1) 73%,
    rgba(245, 234, 152, 1) 91%
  );
  color: black;
  margin-top: 50px;
  border: 4px solid black;
  border-radius: 5px;
}

#timer {
  margin-left: 12px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 100px;
  color: red;
  -webkit-text-stroke: 5px black;
  text-shadow: 7px 2px 4px rgba(165, 186, 48, 0.84);
}

#timer_container {
  background: rgb(10, 10, 11);
  background: radial-gradient(
    circle,
    rgba(10, 10, 11, 1) 0%,
    rgba(31, 21, 21, 0.7679446778711485) 35%,
    rgba(23, 24, 24, 1) 100%
  );
  height: 150px;
  width: 320px;
  border-radius: 30px;
  -webkit-box-shadow: 11px 4px 28px 0px rgba(255, 0, 4, 1);
  -moz-box-shadow: 11px 4px 28px 0px rgba(255, 0, 4, 1);
  box-shadow: 11px 4px 28px 0px rgba(255, 0, 4, 1);
  margin-top: 10px;
  margin-bottom: 10px;
}

#break_timer {
  display: none;
  font-family: "Kdam Thmor Pro", sans-serif;
  margin-top: 100px;
  position: absolute;
  font-size: 200px;
  -webkit-text-stroke: 5px black;
  text-shadow: 5px 5px 5px rgb(72, 181, 224);
  color: gold;
  border-radius: 50px;
  backdrop-filter: blur(4px);
  overflow: auto;
  background: rgb(0, 0, 0, 0.75);
  background: linear-gradient(
    to right top,
    rgb(0, 0, 0, 0.75),
    rgb(0, 0, 0, 0.25)
  );
}

#start_timer {
  display: none;
  font-family: "Kdam Thmor Pro", sans-serif;
  margin-top: 100px;
  position: absolute;
  font-size: 200px;
  -webkit-text-stroke: 5px black;
  text-shadow: 5px 5px 5px gold;
  color: rgb(72, 181, 224);
  border-radius: 50px;
  backdrop-filter: blur(4px);
  overflow: auto;
  background: rgb(0, 0, 0, 0.75);
  background: linear-gradient(
    to right top,
    rgb(0, 0, 0, 0.75),
    rgb(0, 0, 0, 0.25)
  );
}
